doctype html
html
  head
    title Contact us 
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/services') Our Services
        li
          a(href='/contact') Contact us
    h1 Contact us 
    p This is the Contact  page content.
